@using Microsoft.Extensions.Logging;
@using SafeExchange.Client.Common
@using SafeExchange.Client.Common.Model
@using Microsoft.AspNetCore.Components.WebAssembly.Authentication
@using SafeExchange.Client.Web.Components.Classes;
@using SafeExchange.Client.Web.Components.Helpers
@using SafeExchange.Client.Web.Components.Model

@inject StateContainer StateContainer
@inject ApiClient apiClient
@inject ILogger<AccessRequests> logger

<!-- Modal -->
<div class="modal fade" id="cancellationDialog" tabindex="-1" role="dialog" aria-labelledby="modalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <p class="modal-title" id="modalLabel"><strong>Cancel request</strong></p>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                Are you sure you want to cancel the request?
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                <button type="button" class="btn btn-danger" data-bs-dismiss="modal" @onclick="@(e => this.CancelAccessRequestAsync())">Proceed</button>
            </div>
        </div>
    </div>
</div>

@if (this.Notification != null)
{
    <div class="alert alert-dismissible @(this.Notification.GetAlertClass() ?? "alert-primary")" role="alert">
        <strong>@(this.Notification.Status ?? string.Empty)</strong> @(this.Notification.Message ?? string.Empty)
        <button type="button" class="btn-close" @onclick="DismissNotification" aria-label="Close"></button>
    </div>
}

@if (this.IncomingAccessRequests != null)
{
    <div class="container-fluid">
        <ul class="nav nav-tabs" id="myTab" role="tablist">
            <li class="nav-item">
                <button class="nav-link active" id="incoming-tab" data-bs-toggle="tab" data-bs-target="#incoming" type="button" role="tab" aria-controls="incoming" aria-selected="true">
                    Incoming 
                    @if ((this.IncomingAccessRequests?.Count ?? 0) > 0)
                    {
                        <span class="badge rounded-pill bg-danger">@(this.IncomingAccessRequests.Count)</span>
                    }
                </button>
            </li>
            <li class="nav-item">
                <button class="nav-link" id="outgoing-tab" data-bs-toggle="tab" data-bs-target="#outgoing" type="button" role="tab" aria-controls="outgoing" aria-selected="false">
                    Outgoing 
                    @if ((this.OutgoingAccessRequests?.Count ?? 0) > 0)
                    {
                        <span class="badge rounded-pill bg-light text-dark">@(this.OutgoingAccessRequests.Count)</span>
                    }
                </button>
            </li>
        </ul>
        <div class="tab-content py-2 px-2" id="myTabContent">
            <div class="tab-pane fade show active" id="incoming" role="tabpanel" aria-labelledby="incoming-tab">
                <ul class="list-group list-group-flush">
                    @foreach (var accessRequest in this.IncomingAccessRequests)
                    {
                        <li class="list-group-item d-flex justify-content-between align-items-center flex-wrap">
                            <div>
                                <div>@(accessRequest.RequestorName)</div>
                                <div><strong>@(accessRequest.SecretName)</strong></div>
                                <small class="my-0">@(accessRequest.PermissionsString)</small>
                                <small class="my-0">Requested at: @(accessRequest.RequestedAt)</small>
                            </div>
                            <div class="btn-group px-4 my-2" role="group" aria-label="Item buttons">
                                <button class="btn btn-outline-primary" type="button" disabled="@this.StateContainer.IsInProgress" @onclick="@(e => this.ProcessAccessRequestAsync(accessRequest, true))"><i class="bi bi-check-circle"></i><span>&nbsp; Grant</span></button>
                                <button class="btn btn-outline-danger" type="button" disabled="@this.StateContainer.IsInProgress" @onclick="@(e => this.ProcessAccessRequestAsync(accessRequest, false))"><i class="bi bi-x-circle"></i><span>&nbsp; Reject</span></button>
                            </div>
                        </li>
                    }
                </ul>

                @if (this.IncomingAccessRequests.Count == 0)
                {
                    @if (this.StateContainer.IsFetchingAccessRequests)
                    {
                        <div class="spinner-border spinner-border-sm" role="status">
                            <span class="visually-hidden">In progress...</span>
                        </div>
                    }
                    else
                    {
                        <p class="my-4">
                            - No incoming access requests -
                        </p>
                    }
                }
            </div>
            <div class="tab-pane fade" id="outgoing" role="tabpanel" aria-labelledby="outgoing-tab">
                <ul class="list-group list-group-flush">
                    @foreach (var accessRequest in this.OutgoingAccessRequests)
                    {
                        <li class="list-group-item d-flex justify-content-between align-items-center flex-wrap">
                            <div>
                                <div>@(accessRequest.RequestorName)</div>
                                <div><strong>@(accessRequest.SecretName)</strong></div>
                                <small class="my-0">@(accessRequest.PermissionsString)</small>
                                <small>&nbsp;-&nbsp;</small>
                                <small class="my-0">Requested at: @(accessRequest.RequestedAt)</small>
                            </div>
                            <button type="button" class="btn btn-outline-danger" data-bs-toggle="modal" data-bs-target="#cancellationDialog" disabled="@this.StateContainer.IsInProgress" @onclick="@(e => this.SetRequestToCancellation(accessRequest))"><i class="bi bi-x-circle"></i><span>&nbsp; Cancel</span></button>
                        </li>
                    }
                </ul>

                @if (this.OutgoingAccessRequests.Count == 0)
                {
                    @if (this.StateContainer.IsFetchingAccessRequests)
                    {
                        <div class="spinner-border spinner-border-sm" role="status">
                            <span class="visually-hidden">In progress...</span>
                        </div>
                    }
                    else
                    {
                        <p class="my-4">
                            - No outgoing access requests -
                        </p>
                    }
                }
            </div>
        </div>
    </div>
}

@code {

    [CascadingParameter]
    public Task<AuthenticationState> AuthenticationStateTask { get; set; }

    private AuthenticationState authenticationState;

    private NotificationData Notification;

    private IList<AccessRequest> IncomingAccessRequests = new List<AccessRequest>();

    private IList<AccessRequest> OutgoingAccessRequests = new List<AccessRequest>();

    private AccessRequest RequestToCancel;

    protected override async Task OnInitializedAsync()
    {
        this.StateContainer.IsInProgress = false;
        this.StateContainer.TakeNotification();
        this.StateContainer.SetCurrentPageHeader($"Access Requests");

        this.authenticationState = await this.AuthenticationStateTask;
        await this.FetchAccessRequestsAsync();
    }

    private async Task FetchAccessRequestsAsync()
    {
        this.logger.LogDebug($"{nameof(FetchAccessRequestsAsync)} started.");

        this.StateContainer.IsInProgress = true;
        this.logger.LogDebug($"Subscribing to state container {nameof(this.StateContainer.OnAccessRequestsFetched)}.");
        this.StateContainer.OnAccessRequestsFetched += this.OnAccessRequestsFetched;

        var currentUserUpn = TokenHandler.GetName(authenticationState.User);
        await this.StateContainer.TryFetchAccessRequestsAsync(this.apiClient, currentUserUpn);

        this.logger.LogDebug($"{nameof(FetchAccessRequestsAsync)} finished.");
    }

    private void OnAccessRequestsFetched(object? sender, DataFetchedEventArgs e)
    {
        this.logger.LogDebug($"{nameof(OnAccessRequestsFetched)} finished.");

        try
        {
            if (!"ok".Equals(e.ResponseStatus.Status))
            {
                this.Notification = new NotificationData()
                    {
                        Type = NotificationType.Warning,
                        Status = e.ResponseStatus.Status,
                        Message = e.ResponseStatus.Error ?? string.Empty
                    };
                return;
            }

            this.IncomingAccessRequests = new List<AccessRequest>(this.StateContainer.IncomingAccessRequests);
            this.OutgoingAccessRequests = new List<AccessRequest>(this.StateContainer.OutgoingAccessRequests);
        }
        finally
        {
            this.logger.LogDebug($"Unsubscribing from state container {nameof(this.StateContainer.OnAccessRequestsFetched)}.");
            this.StateContainer.OnAccessRequestsFetched -= this.OnAccessRequestsFetched;
            this.StateContainer.IsInProgress = false;

            this.StateHasChanged();
            this.logger.LogDebug($"{nameof(OnAccessRequestsFetched)} finished.");
        }
    }

    private async Task ProcessAccessRequestAsync(AccessRequest accessRequest, bool grant)
    {
        this.StateContainer.IsInProgress = true;
        try
        {
            var reply = await apiClient.ProcessAccessRequestAsync(accessRequest.SecretName, accessRequest.ToUpdateDto(grant));
            if (!"ok".Equals(reply.Status))
            {
                this.Notification = new NotificationData()
                {
                    Type = NotificationType.Warning,
                    Status = reply.Status,
                    Message = reply.Error
                };

                return;
            }

            this.Notification = new NotificationData()
            {
                Type = NotificationType.Success,
                Status = "success",
                Message = (grant ? "Access granted." : "Request rejected.")
            };
        }
        catch (AccessTokenNotAvailableException exception)
        {
            exception.Redirect();
        }
        finally
        {
            this.StateContainer.IsInProgress = false;
        }

        await FetchAccessRequestsAsync();
    }

    private void SetRequestToCancellation(AccessRequest accessRequest)
    {
        this.RequestToCancel = accessRequest;
    }

    private async Task CancelAccessRequestAsync()
    {
        this.StateContainer.IsInProgress = true;
        try
        {
            var reply = await apiClient.CancelAccessRequestAsync(this.RequestToCancel.SecretName, this.RequestToCancel.ToDeletionDto());
            if (!"ok".Equals(reply.Status))
            {
                this.Notification = new NotificationData()
                {
                    Type = NotificationType.Warning,
                    Status = reply.Status,
                    Message = reply.Error
                };

                return;
            }

            this.RequestToCancel = null;
            this.Notification = new NotificationData()
            {
                Type = NotificationType.Success,
                Status = "success",
                Message = "Request cancelled."
            };
        }
        catch (AccessTokenNotAvailableException exception)
        {
            exception.Redirect();
        }
        finally
        {
            this.StateContainer.IsInProgress = false;
        }

        await FetchAccessRequestsAsync();
    }

    public void DismissNotification()
    {
        this.Notification = null;
    }
}
