@using SafeExchange.Client.Web.Components.Model
@using Microsoft.AspNetCore.Components.WebAssembly.Authentication

@inject StateContainer StateContainer
@inject ApiClient apiClient
@inject NavigationManager NavManager

@if (this.IsInProgress)
{
    <p>
        <div class="progress">
            <div class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100" style="width: 75%"></div>
        </div>
    </p>
}

@if (this.Notification != null)
{
    <div class="alert @(this.Notification.GetAlertClass() ?? "alert-primary")" role="alert">
        <strong>@(this.Notification.Status ?? string.Empty)</strong> @(this.Notification.Message ?? string.Empty)
        <button type="button" class="close" @onclick="DismissNotification">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
}

@if (this.IncomingAccessRequests != null)
{
    <div class="container-fluid">
        <ul class="nav nav-tabs" id="myTab" role="tablist">
            <li class="nav-item">
                <a class="nav-link active" id="incoming-tab" data-toggle="tab" href="#incoming" role="tab" aria-controls="incoming" aria-selected="true">Incoming</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" id="outgoing-tab" data-toggle="tab" href="#outgoing" role="tab" aria-controls="outgoing" aria-selected="false">Outgoing</a>
            </li>
        </ul>
        <div class="tab-content py-2 px-2" id="myTabContent">
            <div class="tab-pane fade show active" id="incoming" role="tabpanel" aria-labelledby="incoming-tab">
                <ul class="list-group list-group-flush">
                    @foreach (var accessRequest in this.IncomingAccessRequests)
                    {
                        <li class="list-group-item d-flex justify-content-between align-items-center flex-wrap">
                            <div>
                                <div>@(accessRequest.UserName)</div>
                                <div><strong>@(accessRequest.SecretName)</strong></div>
                                <small class="text-secondary my-0">@(accessRequest.Permissions)</small>
                                <small class="my-0">Requested at: @(accessRequest.RequestedAt)</small>
                            </div>
                            <div class="btn-group px-4 my-2" role="group" aria-label="Item buttons">
                                <button class="btn btn-outline-primary" type="button" disabled="@IsInProgress" @onclick="@(e => this.ProcessAccessRequestAsync(accessRequest, true))"><i class="oi oi-circle-check"></i><span>&nbsp; Grant</span></button>
                                <button class="btn btn-outline-danger" type="button" disabled="@IsInProgress" @onclick="@(e => this.ProcessAccessRequestAsync(accessRequest, false))"><i class="oi oi-circle-x"></i><span>&nbsp; Reject</span></button>
                            </div>
                        </li>
                    }
                </ul>

                @if (this.IncomingAccessRequests.Count == 0)
                {
                    <p class="my-4">
                        - No incoming access requests -
                    </p>
                }
            </div>
            <div class="tab-pane fade" id="outgoing" role="tabpanel" aria-labelledby="outgoing-tab">
                <ul class="list-group list-group-flush">
                    @foreach (var accessRequest in this.OutgoingAccessRequests)
                    {
                        <li class="list-group-item d-flex justify-content-between align-items-center flex-wrap">
                            <div>
                                <div>@(accessRequest.UserName)</div>
                                <div><strong>@(accessRequest.SecretName)</strong></div>
                                <small class="my-0">@(accessRequest.Permissions)</small>
                                <small>&nbsp;-&nbsp;</small>
                                <small class="text-secondary my-0">Requested at: @(accessRequest.RequestedAt)</small>
                            </div>
                        </li>
                    }
                </ul>

                @if (this.OutgoingAccessRequests.Count == 0)
                {
                    <p class="my-4">
                        - No outgoing access requests -
                    </p>
                }

            </div>
        </div>
    </div>
}

@code {

    private NotificationData Notification;

    private bool IsInProgress;

    private IList<AccessRequestData> IncomingAccessRequests;

    private IList<AccessRequestData> OutgoingAccessRequests;

    protected override async Task OnInitializedAsync()
    {
        this.StateContainer.TakeNotification();
        this.StateContainer.SetCurrentPageHeader($"Access Requests");

        await this.FetchAccessRequestsAsync();
    }

    private async Task FetchAccessRequestsAsync()
    {
        this.IsInProgress = true;
        try
        {
            var accessRequests = await apiClient.GetAccessRequestsAsync();

            if (!"ok".Equals(accessRequests.Status))
            {
                this.Notification = new NotificationData()
                {
                    Type = NotificationType.Warning,
                    Status = accessRequests.Status,
                    Message = accessRequests.Error
                };
                return;
            }

            this.IncomingAccessRequests = new List<AccessRequestData>(accessRequests.AccessRequests.Count);
            this.OutgoingAccessRequests = new List<AccessRequestData>(accessRequests.AccessRequests.Count);
            foreach (var accessRequest in accessRequests.AccessRequests)
            {
                if (accessRequest.RequestType == AccessRequestType.Incoming)
                {
                    this.IncomingAccessRequests.Add(accessRequest);
                }
                else
                {
                    this.OutgoingAccessRequests.Add(accessRequest);
                }
            }
        }
        catch (AccessTokenNotAvailableException exception)
        {
            exception.Redirect();
        }
        finally
        {
            this.IsInProgress = false;
        }
    }

    private async Task ProcessAccessRequestAsync(AccessRequestData accessRequest, bool grant)
    {
        this.IsInProgress = true;
        try
        {
            var processingInput = new AccessRequestProcessingDataInput
            {
                RequestId = accessRequest.RequestId,
                SecretId = accessRequest.SecretName,
                Grant = grant
            };
            var reply = await apiClient.ProcessAccessRequestAsync(processingInput);

            if (!"ok".Equals(reply.Status))
            {
                this.Notification = new NotificationData()
                {
                    Type = NotificationType.Warning,
                    Status = reply.Status,
                    Message = reply.Error
                };
                return;
            }

            this.Notification = new NotificationData()
            {
                Type = NotificationType.Success,
                Status = "success",
                Message = (grant ? "Access granted." : "Request rejected.")
            };
        }
        catch (AccessTokenNotAvailableException exception)
        {
            exception.Redirect();
        }
        finally
        {
            this.IsInProgress = false;
        }

        await FetchAccessRequestsAsync();
    }

    public void DismissNotification()
    {
        this.Notification = null;
    }
}
