@using Microsoft.AspNetCore.Components.WebAssembly.Authentication
@using Microsoft.Extensions.Configuration
@using Microsoft.Extensions.Options
@using Microsoft.JSInterop;
@using SafeExchange.Client.Common
@using SafeExchange.Client.Common.Model
@using SafeExchange.Client.Web.Components.Model
@using SafeExchange.Client.Web.Components.Helpers
@using Microsoft.AspNetCore.Components.Authorization
@using System.Text
@using System.IO

@inject NavigationManager NavManager
@inject ApiClient apiClient
@inject StateContainer StateContainer
@inject TooltipsInitializer TooltipsInitializerInstance
@inject DownloadUploadHelper downloadUploadHelper
@inject IOptionsSnapshot<RemoteAuthenticationOptions<ApiAuthorizationProviderOptions>> OptionsSnapshot
@inject IConfiguration Configuration

@if (this.Notification != null)
{
    <div class="alert alert-dismissible @(this.Notification.GetAlertClass() ?? "alert-primary")" role="alert">
        <p>
            <strong>@(this.Notification.Status ?? string.Empty)</strong>&nbsp; @(this.Notification.Message ?? string.Empty)
        </p>
        @if (!string.IsNullOrEmpty(this.Notification.ButtonText))
        {
            <hr>
            <p>
                <button class="btn btn-warning" type="button" disabled="@this.StateContainer.IsInProgress" @onclick="() => this.HandleNotificationButtonClick()">
                    <span>@this.Notification.ButtonText</span>
                </button>
            </p>
        }
        <button type="button" class="btn-close" @onclick="DismissNotification" aria-label="Close"></button>
    </div>
}

@if (this.compoundModel != null)
{
    <EditForm Model="@this.compoundModel">
        <p>
            <div class="ql-container ql-snow">
                <div @ref="this.quillElement" id="main_content" class="ql-editor @(this.StateContainer.IsInProgress ? "ql-blank" : string.Empty)" data-placeholder="Loading...">
                    @if (!this.StateContainer.IsInProgress)
                    {
                        @((MarkupString)this.compoundModel.MainData)
                    }
                </div>
            </div>
        </p>

        @if (this.Attachments.Count > 0)
        {
            <p>
                <div class="collapsible-content">
                    <button class="btn mb-2 d-inline-flex align-items-center" type="button" data-bs-toggle="collapse" data-bs-target="#collapseAttachments" aria-expanded="false" aria-controls="collapseAttachments">
                        <i class="bi bi-chevron-right"></i>
                        &nbsp; Attachments
                    </button>
                    <div class="collapse" id="collapseAttachments">
                        <div class="card card-body">

                            <ul class="list-group list-group-flush">
                                @for (int ai = 0; ai < this.Attachments.Count; ai++)
                                {
                                    var attachment = this.Attachments[ai];
                                    var downloadItem = this.Downloads[ai];
                                    <li class="list-group-item d-flex justify-content-between align-items-center flex-wrap">
                                        <div>
                                            <span id="@($"attachment-{ai}")">@attachment.FileName</span>
                                            <small class="my-0">&nbsp;&nbsp; Size: @attachment.GetLengthDescription()</small>
                                        </div>
                                        <div>
                                            @switch (downloadItem.Status)
                                            {
                                                case (DownloadStatus.NotStarted):
                                                    <span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>
                                                    break;

                                                case (DownloadStatus.InProgress):
                                                    <span class="spinner-border spinner-border-sm" role="status"></span>
                                                    <span>@($"{downloadItem.ProgressPercents:00}")%&nbsp;&nbsp;</span>
                                                    break;

                                                case (DownloadStatus.Success):
                                                    <i class="bi bi-check-lg text-success"></i>
                                                    <span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>
                                                    break;

                                                case (DownloadStatus.Error):
                                                    <i class="bi bi-exclamation-triangle text-warning"></i>
                                                    <span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>
                                                    break;
                                            }
                                            <button class="btn btn-outline-primary" type="button" disabled="@(this.StateContainer.IsInProgress || DownloadStatus.InProgress.Equals(downloadItem.Status))" @onclick="@(e => this.DownloadAttachmentAsync(attachment))">
                                                <i class="bi bi-cloud-download"></i><span>&nbsp;Download</span>
                                            </button>
                                        </div>
                                    </li>
                                }
                            </ul>
                        </div>
                    </div>
                </div>
            </p>
        }

        <div class="collapsible-content">
            <button class="btn mb-2 d-inline-flex align-items-center" type="button" data-bs-toggle="collapse" data-bs-target="#collapseAccessList" aria-expanded="false" aria-controls="collapseAccessList">
                <i class="bi bi-chevron-right"></i>
                &nbsp; Access List
            </button>
            <div class="collapse" id="collapseAccessList">
                <div class="card card-body">

                    @{
                        int i = 0;
                    }
                    @foreach (var permissionsItem in this.compoundModel.Permissions)
                    {
                        <div>
                            <div class="row">
                                <div class="col">
                                    <InputText id="@($"username-{i}")" class="form-control-plaintext" @bind-Value="@permissionsItem.SubjectName" readonly />
                                </div>
                                <div class="col">
                                    <InputText id="@($"permissions-{i}")" class="form-control-plaintext" @bind-Value="@permissionsItem.PermissionsString" readonly aria-label="Permissions" aria-labelledby="@($"permissions-{i} username-{i}")" />
                                </div>
                            </div>
                        </div>
                        i += 1;
                    }

                    @if (this.compoundModel.Permissions.Count == 0)
                    {
                        <div>
                            - No access was granted to users -
                        </div>
                    }

                </div>
            </div>
        </div>

        <p>
            <div class="d-flex mt-3 justify-content-center">
                <div class="btn-group" role="group" aria-label="Item buttons">
                    <button class="btn btn-outline-primary" type="button" disabled="@this.StateContainer.IsInProgress" @onclick="FetchData">
                        @if (this.StateContainer.IsInProgress)
                        {
                            <span class="spinner-border spinner-border-sm" role="status"></span>
                        }
                        else
                        {
                            <i class="bi bi-arrow-clockwise"></i>
                        }
                        <span>&nbsp;Refresh</span>
                    </button>
                    <button class="btn btn-outline-primary" type="button" disabled="@(!this.CanEditObject() || this.StateContainer.IsInProgress)" @onclick="EditObject">
                        <i class="bi bi-pencil"></i><span>&nbsp;Edit</span>
                    </button>
                </div>
            </div>
        </p>
    </EditForm>
}

@code {

    [CascadingParameter]
    public Task<AuthenticationState> AuthenticationStateTask { get; set; }

    [Parameter]
    public string ObjectName { get; set; }

    private AuthenticationState authenticationState;

    private NotificationData Notification;

    private ElementReference quillElement;

    private bool initializeTooltips = false;

    private CompoundModel compoundModel = new CompoundModel()
        {
            Metadata = new ObjectMetadata()
            {
                ObjectName = string.Empty,
                Content = new List<ContentMetadata>(),
                ExpirationMetadata = new ExpirationMetadata()
                {
                    ScheduleExpiration = false,
                    ExpireAt = DateTime.MinValue,
                    ExpireOnIdleTime = false,
                    IdleTimeToExpire = TimeSpan.Zero
                }
            },
            Permissions = new List<SubjectPermissions>()
        {
            new SubjectPermissions()
            {
                ObjectName = string.Empty,
                SubjectName = string.Empty,
                SubjectId = string.Empty,

                CanRead = true,
                CanWrite = false,
                CanGrantAccess = false,
                CanRevokeAccess = false
            }
        },
            MainData = string.Empty
        };

    private List<ContentMetadata> Attachments { get; set; } = new();

    private List<DownloadModel> Downloads { get; set; } = new();

    protected override async Task OnInitializedAsync()
    {
        this.StateContainer.IsInProgress = false;
        this.StateContainer.TakeNotification();

        this.ObjectName = this.ObjectName ?? string.Empty;
        this.StateContainer.SetCurrentPageHeader($"View '{this.ObjectName}'");

        this.authenticationState = await this.AuthenticationStateTask;
        await this.FetchData();
    }

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (!this.initializeTooltips)
        {
            return;
        }

        try
        {
            await TooltipsInitializerInstance.InitializeQuillClipboardTooltipsAsync(this.quillElement, "Copy to clipboard", "Copied");
        }
        finally
        {
            this.initializeTooltips = false;
        }
    }

    private async Task FetchData()
    {
        await this.FetchSecretAsync(this.ObjectName);
    }

    private bool CanEditObject()
    {
        var currentUserUpn = TokenHandler.GetName(authenticationState.User);
        if (string.IsNullOrEmpty(currentUserUpn) || !currentUserUpn.Contains("@"))
        {
            return true;
        }

        var accessList = this.compoundModel?.Permissions;
        if (accessList == null)
        {
            return false;
        }

        foreach (var accessItem in accessList)
        {
            if (accessItem.SubjectName.Equals(currentUserUpn) && (accessItem.CanWrite || accessItem.CanGrantAccess))
            {
                return true;
            }
        }

        return false;
    }

    private void EditObject()
    {
        NavManager.NavigateTo($"editdata/{this.ObjectName}");
    }

    private async Task FetchSecretAsync(string objectName)
    {
        this.StateContainer.IsInProgress = true;
        try
        {
            var compoundModelResult = await this.apiClient.GetCompoundModelAsync(objectName);
            if (!"ok".Equals(compoundModelResult.Status))
            {
                var consentRequired = false;
                var message = compoundModelResult.Error ?? string.Empty;
                var buttonText = "forbidden".Equals(compoundModelResult.Status) ? "Request Access" : string.Empty;
                if ("consent_required".Equals(compoundModelResult.SubStatus))
                {
                    consentRequired = true;
                    message = "User must give consent in Entra to fetch groups in order to use groups authorization.";
                    buttonText = "Consent";
                }

                this.Notification = new NotificationData()
                    {
                        Type = NotificationType.Warning,
                        Status = compoundModelResult.Status,
                        Message = message,
                        ButtonText = buttonText,
                        ButtonUri = this.CreateAccessRequestUri("Read"),
                        ConsentRequired = consentRequired
                    };

                return;
            }

            this.DismissNotification();

            this.Attachments = new(compoundModelResult.Result.Metadata.Content.Where(c => !c.IsMain));
            this.Downloads.Clear();
            foreach (var attachment in this.Attachments)
            {
                this.Downloads.Add(new DownloadModel(attachment));
            }

            this.compoundModel.Metadata = compoundModelResult.Result.Metadata;
            this.compoundModel.Permissions = compoundModelResult.Result.Permissions;
            this.compoundModel.MainData = compoundModelResult.Result.MainData;

            this.initializeTooltips = true;
        }
        catch (AccessTokenNotAvailableException exception)
        {
            exception.Redirect();
        }
        finally
        {
            this.StateContainer.IsInProgress = false;
        }
    }

    public void DismissNotification()
    {
        this.Notification = null;
    }

    private string CreateAccessRequestUri(string permissions)
    {
        return $"addrequest?subject={this.ObjectName}&permission={permissions}";
    }

    private async Task DownloadAttachmentAsync(ContentMetadata attachment)
    {
        var downloadItem = this.Downloads.First(d => d.Attachment.Equals(attachment));
        try
        {
            if (await this.downloadUploadHelper.SupportsFileSystemAccessAsync())
            {
                await DownloadToFileStreamAsync(attachment, downloadItem);
                return;
            }

            await DownloadAsBlobUrlAsync(attachment, downloadItem);
        }
        finally
        {
            if (downloadItem.Status == DownloadStatus.InProgress)
            {
                downloadItem.Status = DownloadStatus.Success;
            }

            this.StateHasChanged();
        }
    }

    private async Task DownloadToFileStreamAsync(ContentMetadata attachment, DownloadModel downloadItem)
    {
        Console.WriteLine($"Started {nameof(DownloadToFileStreamAsync)}.");

        IJSObjectReference? writableStream = default;
        try
        {
            writableStream = await this.downloadUploadHelper.StartFileDownloadAsync(attachment.FileName);
            if (writableStream == null)
            {
                return; // user aborted file download
            }

            downloadItem.Status = DownloadStatus.InProgress;
            downloadItem.ProgressPercents = 0.0f;
            this.StateHasChanged();

            var totalLength = 0L;
            foreach (var chunk in attachment.Chunks)
            {
                totalLength += chunk.Length;
            }

            foreach (var chunk in attachment.Chunks)
            {
                var chunkStreamResponse = await this.apiClient.GetSecretDataStreamAsync(this.compoundModel.Metadata.ObjectName, attachment.ContentName, chunk.ChunkName);
                if (!"ok".Equals(chunkStreamResponse.Status))
                {
                    this.Notification = new NotificationData()
                        {
                            Type = NotificationType.Warning,
                            Status = chunkStreamResponse.Status,
                            Message = $"Cannot download attachment: {(chunkStreamResponse.Error ?? "Unknown exception.")}."
                        };

                    downloadItem.Status = DownloadStatus.Error;
                    return;
                }

                if (chunkStreamResponse.Result is null)
                {
                    this.Notification = new NotificationData()
                        {
                            Type = NotificationType.Warning,
                            Status = chunkStreamResponse.Status,
                            Message = $"Received empty data reponse ('{chunk.ChunkName}'."
                        };

                    downloadItem.Status = DownloadStatus.Error;
                    return;
                }

                await this.downloadUploadHelper.WriteToFileAsync(writableStream, chunkStreamResponse.Result);

                downloadItem.ProgressPercents += 100.0f * ((float)chunk.Length / (totalLength == 0 ? 1 : totalLength));
                this.StateHasChanged();
            }
        }
        catch (Exception exception)
        {
            this.Notification = new NotificationData()
                {
                    Type = NotificationType.Warning,
                    Status = string.Empty,
                    Message = exception.Message
                };
        }
        finally
        {
            if (writableStream != default)
            {
                await this.downloadUploadHelper.FinishFileDownloadAsync(writableStream);
            }
        }
    }

    private async Task DownloadAsBlobUrlAsync(ContentMetadata attachment, DownloadModel downloadItem)
    {
        Console.WriteLine($"Started {nameof(DownloadAsBlobUrlAsync)}.");

        downloadItem.Status = DownloadStatus.InProgress;
        downloadItem.ProgressPercents = 0.0f;
        this.StateHasChanged();

        var dataStreamResponse = await this.apiClient.GetContentDataStreamAsync(this.compoundModel.Metadata.ObjectName, attachment.ContentName);
        if (dataStreamResponse.Status != "ok")
        {
            this.Notification = new NotificationData()
                {
                    Type = NotificationType.Warning,
                    Status = dataStreamResponse.Status,
                    Message = $"Cannot download attachment: {(dataStreamResponse.Error ?? "Unknown exception.")}."
                };

            return;
        }

        if (dataStreamResponse.Result is null)
        {
            this.Notification = new NotificationData()
                {
                    Type = NotificationType.Warning,
                    Status = dataStreamResponse.Status,
                    Message = $"Received empty data reponse."
                };

            return;
        }

        await this.downloadUploadHelper.DownloadFileFromStreamAsync(dataStreamResponse.Result, attachment.FileName, attachment.ContentType);
    }

    private void HandleNotificationButtonClick()
    {
        if (this.Notification.ConsentRequired)
        {
            var scopesToConsent = new List<string>();
            this.Configuration.Bind("AdditionalScopesToConsent", scopesToConsent);
            var requestOptions = new InteractiveRequestOptions
                {
                    Interaction = InteractionType.GetToken,
                    ReturnUrl = this.NavManager.Uri,
                    Scopes = scopesToConsent ?? Array.Empty<string>().ToList()
                };

            requestOptions.TryAddAdditionalParameter("prompt", "consent");
            this.NavManager.NavigateToLogin(OptionsSnapshot.Get(Options.DefaultName).AuthenticationPaths.LogInPath, requestOptions);
            return;
        }

        this.NavManager.NavigateTo(this.Notification.ButtonUri);
    }
}

